<style>
    #{{ id }} .wildfish-ratings-rating-full, #{{ id }} .wildfish-ratings-rating-empty {
        width: {{ icon_width }}px;
        height: {{ icon_height }}px;
    }

    #{{ id }} .wildfish-ratings-rating-empty {
        background-position: -{{ icon_width }}px 0;
    }

    {% if user.is_authenticated %}
    #{{ id }} .wildfish-ratings-rating-full:hover, #{{ id }} .wildfish-ratings-rating-empty:hover {
        background-position: -{{ icon_width|add:icon_width }}px 0;
    }
    {% endif %}

</style>
<div id="{{ id }}" class="wildfish-ratings" data-max-rating="{{ rating.max_value }}" data-avg-rating="{{ rating.rating_average }}">
    <ul class="wildfish-ratings-rating-background">
        {% for star in stars %}
            <li>
                {% if user.is_authenticated %}
                <a href="{% url 'ratings:rate' rating.pk star %}?return={{ request.path }}" data-for="{{ rating.pk }}" data-score="{{ star }}" class="wildfish-ratings-rate-action">
                    <span class="wildfish-ratings-rating-empty"></span>
                </a>
                {% else %}
                    <span class="wildfish-ratings-rating-empty"></span>
                {% endif %}
            </li>
        {% endfor %}
    </ul>

    <ul class="wildfish-ratings-rating-foreground" style="width: {{ percentage }}%">
        {% for star in stars %}
            <li>
            {% if user.is_authenticated %}
            <a href="{% url 'ratings:rate' rating.pk star %}?return={{ request.path }}" data-for="{{ rating.pk }}" data-score="{{ star }}" class="wildfish-ratings-rate-action">
                <span class="wildfish-ratings-rating-full"></span>
            </a>
            {% else %}
                <span class="wildfish-ratings-rating-full"></span>
            {% endif %}
            </li>
        {% endfor %}
    </ul>
    <div class="wildfish-ratings-errors"></div>
</div>
