<-- #TODO - put the CSS somewhere sensible -->

<style>
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

fieldset, label { margin: 0; padding: 0; }
body{ margin: 20px; }
h1 { font-size: 1.5em; margin: 10px; }

/****** Style Star Rating Widget *****/

.rating { 
  border: none;
  float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
 float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 
</style>

{% if user.is_authenticated %}
Rating
<form action="{% url 'ratings:rate' %}" method="POST">
{% csrf_token %}
<input type="hidden" name="object_id" value="{{ object.pk }}">
<input type="hidden" name="content_type" value="{{ content_type_id }}">
<fieldset class="rating">
    <input type="radio" id="star5" name="score" value="5" /><label class = "full" for="star5"></label>
    <input type="radio" id="star4" name="score" value="4" /><label class = "full" for="star4"></label>
    <input type="radio" id="star3" name="score" value="3" /><label class = "full" for="star3"></label>
    <input type="radio" id="star2" name="score" value="2" /><label class = "full" for="star2"></label>
    <input type="radio" id="star1" name="score" value="1" /><label class = "full" for="star1"></label>
</fieldset>
<input type="submit" value="Submit"> <!-- #TODO make this ajax -->
</form>
{% else %}
<p>Log in to rate</p>
{% endif %}
