{#{% if user.is_authenticated %}#}
{#{% csrf_token %}#}
{#<input type="hidden" name="object_id" value="{{ object.pk }}">#}
{#<input type="hidden" name="content_type" value="{{ content_type_id }}">#}
{#<fieldset class="rating">#}
{#    <input type="radio" id="star5" name="score" value="5" /><label class = "full" for="star5"></label>#}
{#    <input type="radio" id="star4" name="score" value="4" /><label class = "full" for="star4"></label>#}
{#    <input type="radio" id="star3" name="score" value="3" /><label class = "full" for="star3"></label>#}
{#    <input type="radio" id="star2" name="score" value="2" /><label class = "full" for="star2"></label>#}
{#    <input type="radio" id="star1" name="score" value="1" /><label class = "full" for="star1"></label>#}
{#</fieldset>#}
{#<input type="submit" value="Submit"> <!-- #TODO make this ajax -->#}
{#</form>#}
{#{% else %}#}
{#<p>Log in to rate</p>#}
{#{% endif %}#}


<div class="wildfish-ratings">

    {% for star in stars %}
        <a href="{% url 'ratings:rate' ratings.pk star %}?return={{ request.path }}" data-for="{{ ratings.pk }}" data-value="{{ star }}" class="wildfish-ratings-rate-action">{{ star }}</a>
    {% endfor %}

    <div>
        Count: {{ ratings.rating_count }} |
        Total: {{ ratings.rating_total }} |
        Avg: {{ ratings.rating_average }}
    </div>
</div>