<style>
    #{{ id }} .star-ratings-rating-full, #{{ id }} .star-ratings-rating-empty {
        width: {{ icon_width }}px;
        height: {{ icon_height }}px;
    }

    #{{ id }} .star-ratings-rating-empty {
        background-position: -{{ icon_width }}px 0;
    }

    {% if user.is_authenticated %}
    #{{ id }} .star-ratings-rating-full:hover, #{{ id }} .star-ratings-rating-empty:hover {
        background-position: -{{ icon_width|add:icon_width }}px 0;
    }
    {% endif %}
</style>
<div id="{{ id }}" class="star-ratings" data-max-rating="{{ star_count }}" data-avg-rating="{{ rating.average }}">
    <ul class="star-ratings-rating-background">
        {% for star in stars %}
            <li>
                {% if user.is_authenticated %}
                <a href="{% url 'ratings:rate' rating.content_type_id rating.object_id %}?return={{ request.path }}" data-score="{{ star }}" class="star-ratings-rate-action">
                    <span class="star-ratings-rating-empty"></span>
                </a>
                {% else %}
                    <span class="star-ratings-rating-empty" title="Log in to rate"></span>
                {% endif %}
            </li>
        {% endfor %}
    </ul>

    <ul class="star-ratings-rating-foreground" style="width: {{ percentage }}%">
        {% for star in stars %}
            <li>
            {% if user.is_authenticated %}
            <a href="{% url 'ratings:rate' rating.content_type_id rating.object_id %}?return={{ request.path }}" data-score="{{ star }}" class="star-ratings-rate-action">
                <span class="star-ratings-rating-full"></span>
            </a>
            {% else %}
                <span class="star-ratings-rating-full" title="Log in to rate"></span>
            {% endif %}
            </li>
        {% endfor %}
    </ul>
    <div class="star-ratings-rating-average">Average: <span class='star-ratings-rating-value'>{{ rating.average|floatformat:"-2" }}</span></div>
    <div class="star-ratings-rating-count">Rating Count: <span class='star-ratings-rating-value'>{{ rating.count }}</span></div>
    <div class="star-ratings-rating-user">You Rated: <span class='star-ratings-rating-value'>{% if user_rating %}{{ user_rating.score }}{% else %}Not rated{% endif %}</span></div>
    {% if not user.is_authenticated %}
        <p>Please log in to rate.</p>
    {% endif %}
    <div class="star-ratings-errors"></div>
</div>
